/* color palette */

:root {
  /* HEX */
  --lox-dark: #0a3310;
  --lox-primary: #4b5736;
  --lox-secondary: #B1AB86;
  --lox-background: #FEFAE0;

  /* RGB */
  --lox-dark-rgb: 10, 64, 12;
  --lox-primary-rgb: 129, 144, 103;
  --lox-secondary-rgb: 177, 171, 134;
  --lox-background-rgb: 254, 250, 224;
}

/* Background Colors */
.lox-bg-dark {
  background-color: var(--lox-dark);
}

.lox-bg-primary {
  background-color: var(--lox-primary);
}

.lox-bg-secondary {
  background-color: var(--lox-secondary);
}

.lox-bg-light {
  background-color: var(--lox-background);
}

/* Text Colors */
.lox-text-dark {
  color: var(--lox-dark);
}

.lox-text-primary {
  color: var(--lox-primary);
}

.lox-text-secondary {
  color: var(--lox-secondary);
}

.lox-text-light {
  color: var(--lox-background);
}

/* Border Colors */
.lox-border-dark {
  border-color: var(--lox-dark) !important;
}

.lox-border-primary {
  border-color: var(--lox-primary) !important;
}

.lox-border-secondary {
  border-color: var(--lox-secondary) !important;
}

.lox-border-light {
  border-color: var(--lox-background) !important;
}


/* body edits */
body {
  height: 500vh;
  background: rgba(var(--lox-background-rgb), .2);
  font-family: "Merriweather" !important;

}


/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Fascinate+Inline&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Orbitron:wght@400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Truculenta:opsz,wght@12..72,100..900&display=swap');