/* NAVBAR */

#navbarr{
    /* background: rgba(var(--primary2rgb),) ; */
    background-color: rgb(48, 97, 243,.6);
}
.span1{
    font-family: "Merriweather" !important;
}

/* INTRO SECTION */
#intro{
    height: 75vh;
}
.intro-box{
    height: 100%;
    width: 50%;
}
.pre1{
    height: 40%;
}
.pre1 > .span2{
    font-size: 2rem;
    font-family: "Merriweather" !important;
    margin-right: 100px;
}
.pre2{
    height: 60%;
}
.pre2 > .span3{
    font-size: 9rem;
    line-height: 7rem;
    font-family: "Merriweather" !important;
}
.pic-box{
    background-image: url(../media/pfp2.png);
    background-size: cover;
}

.post1{
    height: 70%;
}
.post1 > .span4{
    font-size: 8.6rem;
    line-height: 10rem;
    font-family: "Merriweather" !important;

}
.post2{
    height: 30%;
}
.post2 > .span5{
    font-family: "Merriweather" !important;
    line-height: 2rem;
    font-size: larger;

}
/* navtabs */
.navtab-section{
    width: 100vw;
    height: 75px !important;
    
}
.tabs-container{
    background-color: rgb(48, 97, 243,.6); 
    font-size: 1.3rem;
    height: 50px;
}
.nav-tabs{
    --bs-nav-tabs-link-active-color: white;
    --bs-nav-tabs-link-active-bg: rgba(var(--darkrgb), 1);
    --bs-nav-tabs-link-active-border-color: rgb(48, 97, 243,.6);
}

/* about */
.about-name{
    height: 20%;
}
    height: 100%;
}
.mini-box{
    height: 100%;
    width: 100%;
}
.left-box{
    height: 100%;
    width: 45%;
}
.right-box{
    height: 100%;
    width: 55%;
}
.lb-1{
    height: 70%;
    width: 90%;
    
}
.lb-2{
    height: 20%;
    width: 100%;
}
.lb-3{
    height: 20%;
    width: 100%;
}
.rb{
   height: 50px;
   width: 200px; 
}

#skills{
    height: 80vh;
}
.top-box{
    height: 10%;
    width: 100%;
}
.bot-box{
    height: 90%;
    width: 100%;
}
.bt-box{
    height: 47%;
    width: 500px;
}



/* projects */
#projects{
    height: 105vh;
    
}
.left-box1{
    width: 15%;
    height: 100%;
}
.right-box1{
    width: 85%;
    height: 100%;
}
.rb1{
    width: 47%;
    height: 47%;
}
.b1{
    height: 80%;
    width: 100%;
}
.b2{
    height: 20%;
    width: 100%;
}




/* form */
#formm{
    height: 100vh;
}